.varer-inventoryItemSearch {
  .varer-buyPrice {
    text-align: center
  }

  white-space: nowrap;
}

.varer-inventoryItemSearch--suggestion {
  display: flex;
  justify-content: space-between;
  width: 100%;

  > * {
    align-self: center;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
      margin-right: auto;
    }

    &:nth-child(2) {
      text-align: center;
    }
  }
}
