.eventlist-tag {
  padding: 1px;
  border-radius: 3px;
  margin: 5px;

  background-color: #00b0ff;
  border: 1px solid #555;

  opacity: 0.7;

  &.is-external {
    background-color: #54c7e6;
  }

  &.is-not-escape {
    background-color: #4de561;
  }

  &.is-not-public {
    background-color: #e5b95f;
  }

  &:hover {
    opacity: 1;
  }
}