@import '../../../bootstrap';

.varer-table {
  tr.group-row th {
    padding-top: 20px;
    background-color: #FFF;
    font-size: 120%;
  }

  ul {
    margin: 0;
  }

  .varer-price-pant {
    font-size: 80%;
    color: $gray-light;
  }

  .varer-regBy {
    font-size: 80%;
    color: $text-muted;
  }

  .varer-productName {
    white-space: nowrap;
  }
}
